<h2>Update component</h2>
<p *ngIf="!exist">
  Product doesn't exist.
</p>

<form>
  <label for="name">Name</label><input type="text" name="name" [(ngModel)]="productData.name"><br>
  <label for="color">Color</label><input type="text" name="color" [(ngModel)]="productData.color"><br>
  <label for="image">Image</label><input type="file" name="image" accept="image/*" [(ngModel)]="productData.imageSrc" (change)="getFiles($event)"><br>
  <button type="submit" (click)="updateProduct()">Update</button>
</form>