<a routerLink ='/'>< Back</a>

<h2>
  Add New Product
</h2>

<div class="container">

<form>
  <label for="name">Name</label><input type="text" name="name"  placeholder="name" [(ngModel)]="productData.name"><br>
  <label for="color">Color</label><input type="text" name="color" placeholder="color" [(ngModel)]="productData.color"><br>
  <label for="image">Image</label><input type="file" name="image" accept="image/*" [(ngModel)]=productData.imageSrc (change)="getFiles($event)"><br>

  <button type="submit" (click)="addNewProduct()" >Add Product</button>
</form>
</div>